<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }
</style>
<h1>App component</h1>
<ul>
  <li>
    <a routerLink="lazy-load">Lazy load</a>
  </li>
  <li>
    <a routerLink="lazy-load/two">Lazy load two</a>
  </li>
</ul>

<button (click)="tenSec()">Ten secs</button>
<button (click)="twoMins()">Two min</button>
<button (click)="threeMins()">Three min</button>

<router-outlet></router-outlet>
